# Project exclude paths
/api/target/
/boot/target/
/fleet.management/target/
/rental/target/
/user.management/target/
/.settings
/.project
/api/.settings
/api/.classpath
/api/.project
/boot/.settings
/boot/.classpath
/boot/.project
/car.documents/.settings
/car.documents/.classpath
/car.documents/.project
/car.repository/.settings
/car.repository/.classpath
/car.repository/.project
/fleet.management/.settings
/fleet.management/.classpath
/fleet.management/.project
/rental/.settings
/rental/.classpath
/rental/.project
/user.management/.settings
/user.management/.classpath
/user.management/.project
